.row{
    max-width: 1140px;
    margin: 0 auto;
}

.bmi-text{
    color: black;
}

.section-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-fluid{
    height:200px;
    width:200px;
    float:right;
}